@import "../../assets/scss/color-themes";
@import "../../assets/scss/font-size";

.daily-item {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  font-family: "Barlow", sans-serif;
  font-size: $body2-font-size;
  cursor: pointer;
  .icon-small {
    width: 40px;
  }
  .day {
    @include theme() {
      color: get-color("text");
    }
    flex: 1;
    margin-left: 15px;
    font-weight: 600;
    cursor: inherit;
  }
  .description {
    @include theme() {
      color: get-color("text");
    }
    flex: 1;
    margin-right: 15px;
    text-align: right;
    cursor: inherit;
  }
  .min-max {
    @include theme() {
      color: get-color("text-secondary");
    }
    svg {
      fill: white;
      font-size: 20px;
      display: inline-block;
      width: 10px;
      height: 15px;
      margin: auto 4px;
      padding-top: 0px;
    }
    cursor: inherit;
  }
}