


.search {
    height: 3.25rem;
    border-radius: 26px;
    background: white;
    align-items: center;
    .searchInput {
        width: 86%;
        border: 0;
        outline: 0;
        color: #4a6fa1;
        &:focus {
            border: 0;
            outline: 0;
        }
    }
    button {
        border: none;
        cursor: pointer;
        background-color: transparent;
        height: 100%;
        display: contents;
        
        &:hover svg {
        }
        svg {
            margin: 10px;
            fill: #4a6fa1;
        }
    }
}