@import url("https://fonts.googleapis.com/css2?family=Barlow&ffamily=Frank+Ruhl+Libre&display=swap");
@import "./assets/scss/color-themes";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  @include theme() {
    background-color: get-color("background");
  }
  min-height: 100vh;
  height: auto !important;
  width: 100%;
}
